In [1]:
import pandas as pd

In [2]:
book=pd.read_csv('Books.csv')
ratings=pd.read_csv('Ratings.csv')

C:\Users\jenil\AppData\Local\Temp\ipykernel_2944\1677993630.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  book=pd.read_csv('Books.csv')

In [3]:
book_rating=book.merge(ratings,on=['ISBN'])
book_rating.dropna(inplace=True)
book_rating

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8,5
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11400,0
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11676,8
4,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,41385,0
...,...,...,...,...,...,...,...,...,...,...
1031131,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,276463,7
1031132,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,276579,4
1031133,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,276680,0
1031134,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,276680,0
1031135,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,276680,0

In [4]:
book_rating.duplicated().sum()

0

In [5]:
mean_rating=pd.DataFrame(book_rating.groupby('Book-Title')['Book-Rating'].mean())

In [6]:
mean_rating['num_of_rating']=pd.DataFrame(book_rating.groupby('Book-Title')['Book-Rating'].count())
mean_rating

                                                    Book-Rating  num_of_rating
Book-Title
 A Light in the Storm: The Civil War Diary of A...     2.250000              4
 Always Have Popsicles                                 0.000000              1
 Apple Magic (The Collector's series)                  0.000000              1
 Ask Lily (Young Women of Faith: Lily Series, B...     8.000000              1
 Beyond IBM: Leadership Marketing and Finance f...     0.000000              1
...                                                         ...            ...
Ã?Â?lpiraten.                                          0.000000              2
Ã?Â?rger mit Produkt X. Roman.                         5.250000              4
Ã?Â?sterlich leben.                                    7.000000              1
Ã?Â?stlich der Berge.                                  2.666667              3
Ã?Â?thique en toc                                      4.000000              2

[241066 rows x 2 columns]

In [7]:
book_pivot=book_rating.pivot_table(index='User-ID',columns='Book-Title',values='Book-Rating')
book_pivot

c:\Users\jenil\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\reshape\reshape.py:126: RuntimeWarning: overflow encountered in scalar multiply
  num_cells = num_rows * num_columns

IndexError: index 728836269 is out of bounds for axis 0 with size 728788516